[submodule "evo"]
	path = evo
	url = git@github.com:pipliggins/EVo.git
	ignore = dirty
	branch = main
[submodule "fastchem"]
	path = fastchem
	url = git@github.com:exoclime/FastChem.git
	branch = fastchem_2_dev
	ignore = dirty
